
/* -- JQUERY NEWS TICKER -- */
.jq-news-ticker {
    width: auto;
    height: 1em;
    overflow: hidden;
    padding: 5px 10px;
    background-color: #fefefe;
    box-shadow: inset 0px 0px .25em rgba(0, 0, 0, .4);
    border: 1px solid #aaa;
    border-radius: 5px;
}
    .jq-news-ticker .jq-news-ticker-items {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
    }
        .jq-news-ticker .jq-news-ticker-item {
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;
            top: 0;
            left: 0;
            position: absolute;
            white-space: nowrap;
            line-height: 1em;
        }
        .jq-news-ticker .jq-news-ticker-item-focus {}

