html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5f5;
    padding: 1em;
    font-size: 15px;
    font-family: Arial;
    overflow: hidden;
}

h1 {
    font-size: 100%;
}

a { color: #29f; }
a:hover { color: #4af; }

